body {
    background: #f7f7f7;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
}


.container {
    margin-top: 20px;
    position: relative;
    display: flex;         
    justify-content: flex-end;  
    align-items: flex-start;   
    padding-right: 20px; 
}

.signin {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 30px;
}

.signup {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-weight: 500;
    padding: 8px 20px;
    border: 2px solid #000;
    border-radius: 8px;
}

/* Hover effect */
.signin:hover,
.signup:hover {
    opacity: 0.7;
}

.content {
    margin-top: 80px;
    color: black;
    text-align: center;
    padding: 40px;
    position: relative;
}

.content h1 {
    font-size: 60px;
}
.search-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.search-group {
    max-width: 500px;
    width: 100%;
}

.filter-section {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    padding: 0 10px;
    gap: 50px;
}

.filter-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: auto;
}

.icon-circle {
    width: 100%;
    max-width: 100px;
    height: 100px;
    aspect-ratio: 1 / 1;
    border: 2px solid #262727;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    background-color: #d4dada; /* สีพื้นหลังจางๆ */
}

.icon-circle i {
    color: #262727;
    font-size: 30px;
}

.filter-item span {
    font-size: 12px;
    color: black;
    font-weight: 500;
}

.report-btn {
    background-color: #262727;
    color: white;
    border: none;
    border-radius: 6px;
    padding: 15px 0;
    width: 200px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}

.report-btn:hover {
    background-color: #0c0c0c;
}

